@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Question and Answer Application</h1>
    <p>Ask questions, share knowledge, and get answers from the community.</a>.</p>
</div>
